/* 
Theme colors:
#f9faf8 //smoky white
#e3e7eb //light gray
#660600 //dark red
*/

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

a {
  text-decoration: none;
  color: #e3e7eb;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 33vh;
  background-color: #660600;
  color: #f9faf8;
}

.header .left {
  font-size: 32px;
  font-weight: 800;
}

.header .right {
  font-size: 16px;
  color: #f9faf8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

#welcome {
  background-color: #660600;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33vh;
  gap: 32px;
  height: 100vh;
  font-size: 32px;
}

#welcome * {
  flex: 1;
}

#welcome .left {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#welcome .right {
}

#projects {
  background-color: #e3e7eb;
  color: #660600;
  /* background-color: #f9faf8; */
  font-size: 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#projects div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#projects a {
  color: #660600;
}

#about {
  color: #660600;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  font-size: 32px;
  padding: 8vh;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
  height: 100vh;
  background-color: #660600;
  text-align: center;
  color: #e3e7eb;
}

#contact #form {
  color: #660600;
  background-color: #e3e7eb;
  padding: 16vh 16vh;
  text-align: left;
  display: flex;
  font-size: 16px;
  border-radius: 16px;
}

#contact button {
  border-radius: 8px;
  padding: 8px;
  background-color: #660600;
  color: #e3e7eb;
  border: #660600;
}

.footer {
  background-color: #e3e7eb;
  color: #660600;
  justify-content: center;
}

.footer a {
  text-decoration: underline;
  color: #660600;
}
