* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Hero Main";
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 33vh;
  background-color: #1f2937;
  color: #f9faf8;
  font-family: Arial, Helvetica, sans-serif;
}

.header .left {
  font-size: 24px;
  font-weight: 800;
}

.header .right {
  font-size: 18px;
  color: #e5e7eb;
}

.footer {
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.content1 {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 33vh;
  gap: 32px;
  height: 100vh;
}

.content1 * {
  flex: 1;
}

.content1 .left {
  text-align: left;
}

.content1 .right {
}

.content3 {
  background-color: #e3e7eb;
  color: #1f2937;
  /* background-color: #f9faf8; */
  font-size: 36px;
  font-weight: 800;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content3 div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content2 {
  color: #1f2937;
  height: 100vh;
}

.content4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content4 div {
  color: #e3e7eb;
  border: 1px solid #1f2937;
  background-color: #1f2937;
  padding: 16vh 16vh;
}
